[submodule "category_thourism/nlab-content"]
	path = category_thourism/nlab-content
	url = https://github.com/ncatlab/nlab-content.git
[submodule "llm_search/verba/Verba"]
	path = llms/verba/Verba
	url = https://github.com/weaviate/Verba
[submodule "fastrag_util/fastRAG"]
	path = fastrag_util/fastRAG
	url = https://github.com/IntelLabs/fastRAG
